<%= render "shared/header" %>

<div class="item-contents">
  <h1>検索結果</h1>
  <ul class='item-lists'>

  <% if @results.length != 0 %>
  <% @results.each do |result| %>
    <li class="list">
      <%= link_to item_path(result) do %>
        <div class='item-img-content'>
          <%= image_tag result.image, class: "item-img" %>
          <%# 商品が売れていればsold outを表示 %>
          <% if result.order %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>
          <%# //商品が売れていればsold outを表示 %>
        </div>
        <div class="item-info">
          <h3 class="item-name">
            <%= result.title %>
          </h3>
          <div class="item-price">
            <span><%= result.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
  <% else %>
    <h1>該当する商品はありません</h1>
  <% end %>
</div>
<div class="move-toppage">
  <%= link_to 'トップページへ戻る', root_path %>
</div>

<%= render "shared/footer" %>